*{
	margin: 0;
	padding: 0;
	outline: none;
}
body{
	background: url("../images/bg.png") #ece4d9; 
	font: 12px Arial, Tahoma, sans-serif, #919f88;
}
*{
	text-decoration: none;
}
.b3radius{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
}
#page_align{
	width: 1000px;
	margin: 0 auto;
	/**background: #FFF; **/
	background: url("../images/pagebg.png") #FFF; 
	box-shadow: 0px 1px 3px #DDDDDD;
	-webkit-box-shadow: 0px 1px 3px #DDDDDD;
	-o-box-shadow: 0px 1px 3px #DDDDDD;
	-moz-box-shadow: 0px 1px 3px #DDDDDD;
	-ms-box-shadow: 0px 1px 3px #DDDDDD;
	-khtml-box-shadow: 0px 1px 3px #DDDDDD;
	overflow: hidden;
}
#header{
	background: url("../images/header_bg_2.png") #FFF;
	height: 65px;
	/**outline: solid 1px #000;**/ 
	/**border-bottom: solid 5px #919f88;**/
}
input[name=topsearch]{
	float: right;
	margin-right: 8px;
	height: 22px;
	width: 145px; 
	margin-top: 20px;
	border: none;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.1);
	background: #F0F0F0;
}
.search_img{
	float: right;
	margin-right: 7px;
	margin-top: 23px;

}
#sidebar{
	/**outline: solid 1px #000;**/
	width: 213px;
	margin-left: 113px;
	/**box-shadow: 0px 1px 3px #000000;**/
	float: left;
	/**height:600px;**/
	

}
.logo_img{
	float: right;
	/*margin-left: 5px;*/
	margin-right: 13px;
	margin-top: -5px;
}
.sb_header{
	color:  #FFF;
	line-height: 32px;
	padding-left: 6px;
}

.sb_header>i{
	height: 15px;
	width: 15px;
	float: left;
	margin-top: 8px;
	margin-right: 6px;
}

.sb_nav ul{
	list-style: none;
	margin-top:200px;
}
.sb_nav ul li{
	line-height: 30px;
	background: url("../images/sbn.png");
	padding-left: 6px;

}
.sb_nav ul li a>i{
	background: url("../images/sbn_sprite.png");
	width: 13px;
	height: 13px;
	float: left;
	margin-top: 8px;
	margin-right: 6px;

}
.sb_nav ul li a{
	color: #ffffff;
	display: block;
	weight:213px;
}

.sb_nav ul li a:hover{
	color: #ece1cd;
}
#content {
/**	outline: solid 1px #000;**/
    position:relative;
    height:600px;
	margin-left: 328px;
	margin-top:15px;
	weight:300px;
	padding-left:10px;
	text-align: justify;
}
#content .page {
	/**outline: solid 1px #000;**/
    position:absolute;
    top:0px;
	weight:300px;
	padding-right:100px;
	font-color: #919f88;
	text-align: justify;
	
}
.gallery a img{    
    /* округления старт */
    -webkit-border-radius: 25px;
    -moz-border-radius:  25px;
    border-radius:  25px;
    /* округления конец */
    
    /* transition старт */
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transition: all 1.0s ease;
    /* transition конец */
    
    /* Тень старт */
    -webkit-box-shadow: 0px 2px 4px 1px #DFDFDF;
    -moz-box-shadow: 0px 2px 4px 1px #DFDFDF;
    box-shadow: 0px 2px 4px 1px #DFDFDF; 
    /* Тень конец */
    
    /* Прозрачнсоть старт */
    -moz-opacity: 0.70;
    opacity: 0.70;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
    /* Прозрачнсоть конец */
    
    margin-right:5px;     /* Отступ справа */
    padding:10px; /* Внутренние отступы */
    display:inline-block; /* отображение */
    height:150px; /* Высота */
    margin-left: 45px;
}
.gallery a img:hover{
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}

.gallery a{
    outline:0; border:0;
}


.pagination{
    padding: 2px;
	margin-left:328px;
}
.pagination ul{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px;
}
.pagination li{
    list-style-type: none;
    display: inline;
    padding-bottom: 1px;
}
.pagination a, .pagination a:visited{
    padding: 0 5px;
   /** border: 1px solid #afafaa;**/
    text-decoration: none;
    color: #919f88;
}
.pagination a:hover, .pagination a:active{
  /**  border: 1px solid #919f88;**/
    color: #FFF;
    background-color: #ece4d9;
}
.pagination a.prevnext{
    font-weight: bold;
}
.page_number {
   font-size: 16px;
    color: #919f88;
    padding:5px;
    text-align: center;
    width: 20px;
    margin-left:328px;
}
.pag ul{
	list-style: none;
}
.clr{
	clear: both;
}
#footer{
	background: url("../images/footer_bg_2.png") #FFF ;
	/**margin-bottom: 55px;**/
	height:54px;
	margin-top: -122px
	border-bottom: solid 5px #919f88;
}	